<%= turbo_stream_from "result" %>

<main class="container">
  <div class="header">
    <h1>Flixsearch.</h1>
  </div>

  <%= turbo_frame_tag "new_search" do %>
    <%= render "form" %>
  <% end %>

  <%= turbo_frame_tag "result" do %>
    <ul>
      <%= render partial: "result", collection: @results %>
    </ul>
  <% end %>

</main>